/* Images created by: https://unsplash.com/@pawel_czerwinski */
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #c9ced3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "League Spartan", sans-serif;
  font-size: 12px;
}

[hidden] {
  display: none !important;
}

.img-container {
  position: relative;
  top: -50px;
  left: 50px;
}

h1 {
  font-size: 25px;
  text-align: center;
  margin: 0;
}

h2 {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  margin: 5px 0 0;
}
.inside-player-container {
  position: relative;
  padding-top: 93px;
}

/* Progress */
.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 40px 20px;
  height: 4px;
  width: 90%;
}

.progress {
  background: #242323;
  border-radius: 5px;
  height: 100%;
  /* change this to show progress */
  width: 0;
  transition: width 0.1s linear;
}

.duration-wrapper {
  position: relative;
  top: -25px;
  display: flex;
  justify-content: space-between;
}

/* Controls */
.player-controls {
  position: relative;
  top: -4px;
  left: 120px;
  width: 200px;
  display: flex;
  justify-content: center;
}

.fas {
  font-size: 32px;
  color: rgb(129, 129, 129);
  margin-right: 30px;
  cursor: pointer;
  user-select: none;
}

.fas:hover {
  filter: brightness(60%);
}

.main-button {
  font-size: 40px;
  position: relative;
  top: 3px;
}

.player-container {
  height: 600px;
  width: 400px;
  background-color: #e7e7e7;
  border-radius: 20px;
  box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);
}

.img-container {
  height: 300px;
  width: 300px;
  position: relative;
  top: -50px;
  left: 50px;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1000px;
  box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.5);
}

.duration-wrapper span {
  font-size: 1rem;
}

/* Media Query: iPhone (Vertical) */
@media screen and (max-width: 376px) {
  .player-container {
    width: 90vw;
  }
  .img-container {
    left: 10vw;
    width: 70vw;
    height: 70vw;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 16px;
  }

  .player-controls {
    top: 10px;
    width: 70vw;
    left: 15vw;
  }
}
/* style.css */
#lyric-box {
  height: 580px;
  width: 400px;
  background-color: #e7e7e7;
  border-radius: 20px;
  box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);
  margin-left: 30px;
  /* style.css */
  overflow: auto;
  padding: 10px;
  font-size: x-large;
  display: flex;
  flex-direction: column;
}
.lyric-box-container {
  margin-bottom: 65px;
}
.lyric-box-container h1{
  font-size: 50px;
  padding-bottom:  20px
}
